<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.vueProject.repository.mybatis.WorkerMapper">

    <insert id="save">
        INSERT INTO officeWorker(officeName,officeAddress) VALUES (#{officeName},#{officeAddress})
    </insert>

    <select id="findById" resultType="Worker">
        select officeId, officeName, officeAddress from officeWorker where officeId=#{officeId}
    </select>

    <select id="findAll" resultType="Worker">
        select officeId, officeName, officeAddress from officeWorker
    </select>

    <update id="update">
        UPDATE officeWorker
        SET officeName = #{officeName}
        WHERE officeId = #{officeId}
    </update>



</mapper>